<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hitch Test</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Hitch Test</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://github.com/hitchtest">Github</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://hitchtest.readthedocs.org/">Docs</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://pypi.python.org/pypi/hitch">PyPI</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Hitch Test</span>
                        <hr class="star-light">
                        <span class="skills">Loosely coupled, open source python driven integration testing framework.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What does it do?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/pass.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/fail.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/logs.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/postgres.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/redis.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/timetravel.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 text-left">
                    <iframe
                        src="https://ghbtns.com/github-btn.html?repo=hitch&user=hitchtest&type=star&count=true&size=large"
                        frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                </div>

                <div class="col-lg-4 text-right">
                    <iframe
                        src="https://ghbtns.com/github-btn.html?user=hitchtest&repo=hitch&type=watch&count=true&size=large&v=2"
                        frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hitch is a new kind of testing framework that emphasizes realism, isolation, speed,
                    <a href="https://en.wikipedia.org/wiki/Separation_of_concerns">separation of concerns</a> and
                    <a href="https://en.wikipedia.org/wiki/Loose_coupling">loose coupling</a>.</p>
                </div>
                <div class="col-lg-4">
                    <p>Hitch brings together the power and simplicity of <a href="https://www.python.org/">Python</a>
                    with <a href="http://jinja.pocoo.org/docs/dev/">Jinja2</a>,
                    <a href="https://en.wikipedia.org/wiki/YAML">YAML</a> and
                    <a href="http://ipython.org/">IPython</a>.</p>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/hitchtest/django-remindme-tests" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Check out an example project
                    </a>
                </div>


            </div>
        </div>
    </section>

    <!-- Test Section -->

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Simple, easy to write tests</h2>
                    <hr class="star-primary">
                    <h4>Using Yaml and Jinja2</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                <pre class="prettyprint">
{% extends "base.yml" %
{% block test %}
- engine: engine.py:DjangoReminderTestExecutionEngine
  name: Sign up, create reminder and wait for email reminder to arrive in python {{ python_version }}
  preconditions:
    python_version: "{{ python_version }}"
  scenario:
    - Load website
    - Click: register
    - Fill form:
        id_username: django
        id_email: django@reinhardt.com
        id_password1: jazzguitar
        id_password2: jazzguitar
    - Click submit
    - Click: create
    - Fill form:
        id_description: Remind me about upcoming gig.
        id_when: 30 days
    - Click: create
    - Wait for email:
        Containing: Confirm E-mail Address
    - Confirm emails sent: 1
    - Time travel:
        Days: 30
    - Wait for email:
        Containing: Remind me about upcoming gig.
{% endblock %}</pre>
                    <h4><a href="https://github.com/hitchtest/django-remindme-tests/blob/master/simple_reminder.test">See this test on github</a></h4>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Engine Section -->

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Powerful and terse engine</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                <h4>Declarative, configurable service set up</h4>
                <pre class="prettyprint">
    def set_up(self):
        self.services['Django'] = hitchdjango.DjangoService(
            python=virtualenv_python,
            version=str(self.settings.get("django_version")),
            settings="remindme.settings",
            needs=[self.services['Postgres'], ]
        )</pre>


                <h4>Test steps call methods defined wholly by you</h4>
                <pre class="prettyprint">
    def load_website(self):
        """Navigate to website in Firefox."""
        self.driver.get(self.services['Django'].url())

    def click(self, on):
        """Click on HTML id."""
        self.driver.find_element_by_id(on).click()</pre>
                    <h4><a href="https://github.com/hitchtest/django-remindme-tests/blob/master/engine.py">See the full example engine on github</a></h4>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <!--
                        <h3>Location</h3>
                        <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                        -->
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <!--
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            -->
                            <li>
                                <a href="http://reddit.com/r/hitchtest" class="btn-social btn-outline"><i class="fa fa-fw fa-reddit"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/testhitch" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/hitchtest" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                            <li>
                                <a href="https://hitchtest.readthedocs.org/" class="btn-social btn-outline"><i class="fa fa-fw fa-book"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                    <!--
                        <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Colm O&#39;Connor 2015. Website theme "<a href="http://startbootstrap.com/template-overviews/freelancer/">Freelancer</a>" from <a href="http://startbootstrap.com">Start Bootstrap</a> by David Miller.
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0">
                        <div class="modal-body">
                            <h2>Ultra optimized tests</h2>
                            <!-- <hr class="star-primary"> -->
                            <!-- <img src="img/portfolio/pass.png" class="img-responsive img-centered" alt=""> -->
                            <video controls style="width:100%;height:660px;" class="img-responsive img-centered">
                                <source src="video/pass.webm" type="video/webm">
                            Your browser does not support the video tag.
                            </video> 
                            <p>Hitch starts Postgres, Django, Redis, Celery and Firefox in parallel in just <strong>5.7</strong> seconds.
                               It registers, receives the registration email, creates a reminder and receives
                               the reminder email in just <strong>11.2 seconds</strong>.</p>
                            <!--
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            -->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0">
                        <div class="modal-body">
                            <h2>Clear and useful failures</h2>
                            <!-- <hr class="star-primary"> -->
                            <!-- <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt=""> -->

                            <video controls style="width:100%;height:660px;" class="img-responsive img-centered">
                                <source src="video/fail.webm" type="video/webm">
                                Your browser does not support the video tag.
                            </video>
                            <p>Hitch launches into IPython upon failure with a pretty stacktrace, so you can investigate what's up.</p>
                            <ul class="list-inline item-details">
                                <!--
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                                -->
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0">
                        <div class="modal-body">
                            <h2>Tail logs</h2>
                            <!-- <hr class="star-primary"> -->
                            <!-- <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt=""> -->
                            <video controls style="width:100%;height:660px;" class="img-responsive img-centered">
                                <source src="video/logs.webm" type="video/webm">
                                Your browser does not support the video tag.
                            </video>
                            <p>Easily print and tail logs from your services as you interact with them.</p>
                            <!--
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            -->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0">
                        <div class="modal-body">
                            <h2>Interact with Postgres</h2>
                            <!-- <hr class="star-primary"> -->
                            <!-- <img src="img/portfolio/game.png" class="img-responsive img-centered" alt=""> -->
                            <video controls style="width:100%;height:660px;" class="img-responsive img-centered">
                                <source src="video/postgres.webm" type="video/webm">
                                Your browser does not support the video tag.
                            </video>
                            <p>Interact with postgres using psql or pg_dump/pg_restore from within IPython or your test, during your test.</p>
                            <!--
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            -->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0">
                        <div class="modal-body">
                            <h2>Interact with Redis</h2>
                            <!-- <hr class="star-primary"> -->
                            <!-- <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt=""> -->
                            <video controls style="width:100%;height:660px;" class="img-responsive img-centered">
                                <source src="video/redis.webm" type="video/webm">
                                Your browser does not support the video tag.
                            </video>
                            <p>Interact with Redis during your test.</p>
                            <!--
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            -->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0">
                        <div class="modal-body">
                            <h2>Travel through time</h2>
                            <video controls style="width:100%;height:660px;" class="img-responsive img-centered">
                                <source src="video/timetravel.webm" type="video/webm">
                                Your browser does not support the video tag.
                            </video>
                            <!-- <hr class="star-primary"> -->
                            <!-- <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt=""> -->
                            <p>Make your services think that it's the future with one command, using the power of libfaketime.</p>
                            <!--
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            -->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

</body>

</html>
